# docker-compose.override.yml
version: "3.9"

services:
  postgres: # <-- Добавьте этот сервис
    ports:
      - "${DB_PORT}:5432" # <-- И его порт
  nginx:
    volumes:
      # 1. Подменяем конфиг на локальный
      - ./nginx/nginx.local.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/proxy_params:/etc/nginx/proxy_params:ro
      # 2. Убираем монтирование папки certs, оно не нужно
    ports:
      - "${NGINX_PORT}:80"
      # 3. Не публикуем 443 порт
    # 4. Переопределяем команду, чтобы не использовать envsubst (для prod)
    command: ["nginx", "-g", "daemon off;"]

  backend:
    environment:
      # Устанавливаем окружение для разработки
      ASPNETCORE_ENVIRONMENT: Development

  frontend:
    environment:
      NODE_ENV: development
