<div class="overlay">
  <div class="confirmation-card">
    <button class="close-btn" (click)="closeModal()">✕</button>

    <img src="done.svg" alt="Success" class="icon-circle" />

    <div class="confirmation-text">
      <h2>You're all set!</h2>
      <p>
        Your room is booked from
        <strong>
          {{ booking.start | date : "longDate" }} to
          {{ booking.end | date : "longDate" }}.
        </strong>
      </p>
      <p>
        A confirmation has been sent to your email
        <strong>{{ booking.email }}</strong>
      </p>
    </div>

    <button class="submit-button" (click)="goToMyBookings()">
      My bookings
    </button>
  </div>
</div>
