<div class="main-container">
  <h2 class="section-title">My Bookings</h2>

  @if (bookings.length === 0) {
  <div class="workspaces-list">
    <div class="workspace-card">
      <h2>You don’t have any bookings yet</h2>
      <p>Start by choosing a coworking space</p>
      <button class="submit-button" (click)="goToCoworking()">
        Browse Spaces
      </button>
    </div>
  </div>
  } @else {
  <div class="workspaces-list">
    @for (booking of bookings; track booking.id) {
    <div class="workspace-card">
      <div
        class="workspace-photo"
        [style.backgroundImage]="'url(photos/OpenSpace/main-photo.png)'"
      ></div>
      <div class="workspace-content">
        <div class="workspace-title">
          <h3>
            {{
              workspacesMap[booking.workspaceId]?.name || "Unknown Workspace"
            }}
          </h3>
          <div class="workspace-buttons">
            <button
              class="workspace-button delete-button"
              (click)="deleteBooking(booking.id)"
            >
              <img src="trash.svg" alt="Delete" />
            </button>
          </div>
        </div>
        <div class="workspace-stats">
          <div class="stat-row">
            <div class="stat-icon">
              <img src="calendar.svg" alt="Calendar" />
            </div>
            <span class="stat-text"
              >{{ booking.start | date : "MMM d, yyyy" }} -
              {{ booking.end | date : "MMM d, yyyy" }}</span
            >
            <span class="stat-text"
              >({{ calculateDays(booking.start, booking.end) }} days)</span
            >
            <span class="stat-status">status: {{ booking.status }}</span>
          </div>
          <div class="stat-row">
            <div class="stat-icon">
              <img src="clock-hour-3.svg" alt="Clock" />
            </div>
            <span class="stat-text"
              >from {{ booking.start | date : "h:mm a" }} to
              {{ booking.end | date : "h:mm a" }}</span
            >
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  }
</div>
