<div class="coworking-details">
  <h2 class="section-title">Available workspaces</h2>

  <div class="workspaces-list">
    <div class="workspace-card">
      <div class="card-main">
        <div class="card-photos">
          <div
            class="main-photo"
            style="background-image: url(pexels-pixabay-221537.jpg)"
          >
            <img src="photos/OpenSpace/main-photo.png" />
          </div>
          <div class="photo-carousel">
            <div
              class="thumbnail"
              style="background-image: url(pexels-pixabay-221537.jpg)"
            >
              <img src="photos/OpenSpace/image1.png" />
            </div>
            <div class="thumbnail">
              <img src="photos/OpenSpace/image2.png" />
            </div>
            <div class="thumbnail">
              <img src="photos/OpenSpace/image3.png" />
            </div>
            <div class="thumbnail">
              <img src="photos/OpenSpace/image4.png" />
            </div>
          </div>
        </div>

        <div class="card-content">
          <div class="card-text">
            <div class="card-description">
              <h3>Open Space</h3>
              <p class="description-text">
                A vibrant shared area perfect for freelancers or small teams who
                enjoy a collaborative atmosphere. Choose any available desk and
                get to work with flexibility and ease.
              </p>
            </div>
            <button class="book-btn">Book now</button>
          </div>

          <div class="card-stats">
            <div class="amenities">
              <h4>Amenities</h4>
              <div class="amenities-list">
                <div class="amenity-icon">
                  <img src="amenities/air-conditioning.svg" />
                </div>
                <div class="amenity-icon">
                  <img src="amenities/device-gamepad-2.svg" />
                </div>
                <div class="amenity-icon"><img src="amenities/wifi.svg" /></div>

                <div class="amenity-icon">
                  <img src="amenities/coffee.svg" />
                </div>
              </div>
            </div>

            <div class="availability">
              <h4>Availability</h4>
              <div class="availability-item">
                <div class="availability-icon">
                  <img src="amenities/armchair.svg" />
                </div>
                <span>24 desks</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="booked-notice">
        <span class="check-icon"><img src="done.svg" /></span>
        <p class="booked-message">
          This workspace is already booked by you!
          <strong class="highlighted-text"
            >&nbsp;Room for 2 people&nbsp;</strong
          >
          May 18, 2025 to May 23, 2025
        </p>
      </div>
    </div>

    <!-- Private room -->
    <div class="workspace-card">
      <div class="card-main">
        <div class="card-photos">
          <div
            class="main-photo"
            style="background-image: url(pexels-pixabay-221537.jpg)"
          >
            <img src="photos/PrivateRoom/main-photo.png" />
          </div>
          <div class="photo-carousel">
            <div
              class="thumbnail"
              style="background-image: url(pexels-pixabay-221537.jpg)"
            >
              <img src="photos/PrivateRoom/image1.png" />
            </div>
            <div class="thumbnail">
              <img src="photos/PrivateRoom/image2.png" />
            </div>
            <div class="thumbnail">
              <img src="photos/PrivateRoom/image3.png" />
            </div>
            <div class="thumbnail">
              <img src="photos/PrivateRoom/image4.png" />
            </div>
          </div>
        </div>

        <div class="card-content">
          <div class="card-text">
            <div class="card-description">
              <h3>Private room</h3>
              <p class="description-text">
                Ideal for focused work, video calls, or small team huddles.
                These fully enclosed rooms offer privacy and come in a variety
                of sizes to fit your needs.
              </p>
            </div>
            <button class="book-btn">Book now</button>
          </div>

          <div class="card-stats">
            <div class="amenities">
              <h4>Amenities</h4>
              <div class="amenities-list">
                <div class="amenity-icon">
                  <img src="amenities/air-conditioning.svg" />
                </div>
                <div class="amenity-icon">
                  <img src="amenities/device-gamepad-2.svg" />
                </div>
                <div class="amenity-icon"><img src="amenities/wifi.svg" /></div>

                <div class="amenity-icon">
                  <img src="amenities/coffee.svg" />
                </div>
              </div>
            </div>
            <div class="availability">
              <h4>Availability</h4>
              <div class="availability-item">
                <div class="availability-icon">
                  <img src="amenities/people.svg" />
                </div>
                <span>1, 2, 5, 10 people</span>
              </div>
            </div>
            <div class="availability">
              <h4>Availability</h4>
              <div class="availability-item">
                <ul class="capacity-list">
                  <li>
                    <strong class="highlighted-text">7 rooms</strong> for 1
                    person
                  </li>
                  <li>
                    <strong class="highlighted-text">4 rooms </strong>for up to
                    2 people
                  </li>
                  <li>
                    <strong class="highlighted-text">3 rooms</strong> for up to
                    5 people
                  </li>
                  <li>
                    <strong class="highlighted-text">1 room</strong> for up to
                    10 people
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="booked-notice">
        <span class="check-icon"><img src="done.svg" /></span>
        <p class="booked-message">
          This workspace is already booked by you!
          <strong class="highlighted-text"
            >&nbsp;Room for 2 people&nbsp;</strong
          >
          May 18, 2025 to May 23, 2025
        </p>
      </div>
    </div>

    <!-- Private Rooms Card -->
    <div class="workspace-card">
      <div class="card-main">
        <div class="card-photos">
          <div
            class="main-photo"
            style="background-image: url(pexels-pixabay-221537.jpg)"
          >
            <img src="photos/MeetingRoom/main-photo.png" />
          </div>
          <div class="photo-carousel">
            <div
              class="thumbnail"
              style="background-image: url(pexels-pixabay-221537.jpg)"
            >
              <img src="photos/MeetingRoom/image1.png" />
            </div>
            <div class="thumbnail">
              <img src="photos/MeetingRoom/image2.png" />
            </div>
            <div class="thumbnail">
              <img src="photos/MeetingRoom/image3.png" />
            </div>
            <div class="thumbnail">
              <img src="photos/MeetingRoom/image4.png" />
            </div>
          </div>
        </div>

        <div class="card-content">
          <div class="card-text">
            <div class="card-description">
              <h3>Open Space</h3>
              <p class="description-text">
                A vibrant shared area perfect for freelancers or small teams who
                enjoy a collaborative atmosphere. Choose any available desk and
                get to work with flexibility and ease.
              </p>
            </div>
            <button class="book-btn">Book now</button>
          </div>

          <div class="card-stats">
            <div class="amenities">
              <h4>Amenities</h4>
              <div class="amenities-list">
                <div class="amenity-icon">
                  <img src="amenities/air-conditioning.svg" />
                </div>
                <div class="amenity-icon">
                  <img src="amenities/device-gamepad-2.svg" />
                </div>
                <div class="amenity-icon"><img src="amenities/wifi.svg" /></div>

                <div class="amenity-icon">
                  <img src="amenities/coffee.svg" />
                </div>
              </div>
            </div>

            <div class="availability">
              <h4>Availability</h4>
              <div class="availability-item">
                <div class="availability-icon">
                  <img src="amenities/armchair.svg" />
                </div>
                <span>24 desks</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="booked-notice">
        <span class="check-icon"><img src="done.svg" /></span>
        <p class="booked-message">
          This workspace is already booked by you!
          <strong class="highlighted-text"
            >&nbsp;Room for 2 people&nbsp;</strong
          >
          May 18, 2025 to May 23, 2025
        </p>
      </div>
    </div>
  </div>
</div>
