@use '../../variables' as *;

// В стилях MyEvents остаются только общие стили для страницы и заголовка
.my-events-page {
  padding-top: $spacing-base * 2;
  padding-bottom: $spacing-base * 2;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: $spacing-base * 1.5;

  h1 {
    margin-bottom: $spacing-base * 0.25;
  }
  p {
    margin-bottom: 0;
  }
}
